ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 15px;
  cursor: pointer;
}
.navbar {
  display: flex;
  color: white;
  text-shadow: 1px 1px black;
  background-image: linear-gradient(
    to right bottom,
    #283d89,
    #274a97,
    #2557a4,
    #2364b1,
    #2171be,
    #1382cb,
    #0292d8,
    #00a3e3,
    #00baed,
    #00d1f2,
    #26e6f3,
    #5ffbf1
  );
  box-shadow: 0px 4px 10px lightblue;
}
